{% extends "polls/base.html" %}

{% block title %} Agregar etiqueta {% endblock %}

{% block content %}

<!-- An error message appears in case something fails in the system -->
{% if error_message %}
    <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
        {{ error_message }}
    </div>
{% endif %}

<!-- A success message appears when the user adds a label -->
{% if success_message %}
    <div class="alert alert-success" role="alert" style="margin-top: 20px;">
        {{ success_message }}
    </div>
{% endif %}


<div class="container" style="width: 60%;">
    <center>
        <h1 > Agregar información para Orden de trabajo 
            {{ order.order_number }}
        </h1>
    </center>
    <!-- Allows the user to post the equipment entered in to the database  -->
        <form method="post" action="">
            {% csrf_token %}
                <input type="text" id="equipment" name="equipment" class="form-control" placeholder="Número de parte" required> 
                <input type="number" id="quantity" name="quantity" class="form-control" placeholder="Cantidad de etiquetas necesarias" required style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary" style="margin-top: 20px;"> Agregar etiqueta </button>
        </form>
</div>

{% endblock %}