
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Creacion de etiquetas </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.1/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <style>
        header {
            background-color: #1a1a1a; 
            height: 20vh;
        }

        body {
            background-color: #898888;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 1.7;
        }

        .container {
            margin: 20px 50px;
        }
    </style>
    
  </head>

<body>

    <header>
        <img src="{% static 'polls/img/logo.png' %}" alt="Logo" style="height: 100%; float: left">
    </header>

    <div class="container">
        <form method="post" style="display: inline;">
        {% csrf_token %}
            
            <label for="orden_trabajo">Orden de trabajo:</label>
            <input type="text" name="orden_trabajo"> 
            <label for="orden_trabajo"> Pieza </label>
            <input type="text" name="orden_trabajo"> 
            <label for="orden_trabajo"> Cantidad </label>
            <input type="text" name="orden_trabajo"> 
            <button type="submit" class="btn btn-primary"> Agregar etiqueta </button>

        </form>

        <div class="tabla">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr> 
                        <th> Pieza </th>
                        <th> Cantidad </th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td> for de la cantidad asociada a una orden de trabajo </td>
                        <td> for de las piezas asociadas a una orden de trabajo </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>