{% extends "polls/base.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}


<h1>Resultados de la búsqueda</h1>
{% if equipment_list %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Orden de trabajo</th>
                <th>Pieza</th>
                <th>Cantidad</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for equipment in equipment_list %}
            <tr>
                <td>{{ equipment.work_orders }}</td>
                <td>{{ equipment.equipment }}</td>
                <td>{{ equipment.quantity }}</td>
                <td>{{ equipment.pub_date|date:"F d, Y, g:i a" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No se encontraron resultados. Por favor, intente con otro término de búsqueda.</p>
{% endif %}         

{% endblock %}