{% extends "polls/base.html" %}

{% block title %} Ordenes activas {% endblock %}

{% block content%}


<div class = "container">
    <p class="page-title"> Ordenes de trabajo activas </p>
    <div class="boton" style= "text-align: center; margin-top: 20px; float: right;">
        <button type="button" class="btn btn-outline"> Crear orden de trabajo </button>
    </div>

    <div class="card">
        <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr style="text-align: center;">
                                <th style="text-align: center;"> Work order </th>
                                <th style="text-align: center;"> celda </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td style="text-align: center;">{{ order.order_number }}</td>
                                <td style="text-align: center;"> celda </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>
</div>


{% endblock %}