{% extends "polls/base.html" %}

{% block title %} Ordenes activas {% endblock %}

{% block content%}


<div class = "container">
    <center><h1> Ordenes de trabajo activas </h1></center>
    <div class="boton" style= "text-align: center; margin-top: 20px;">
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'registro_orden' %}'"> Crear orden de trabajo </button>
    </div>

    {% for order in orders %}

        <div class="navegador">
            <ul style="list-style-type: none; text-align: center; margin-top: 50px;">
                <li style="margin-bottom: 10px;">
                    <a href="{% url 'etiquetas' order.id %}"> {{order.order_number}} </a>
                </li>
            </ul>
        </div>
    {% endfor %}
</div>


{% endblock %}